
@{
    ViewBag.Title = "Index";
}

<h2>Aufgaben der Modul 183 - Applikationssicherheit Implementieren</h2>
<ul class="ex-navi">
	<li>@Html.ActionLink("Keylogger", "Keylogger")</li>
	<li>@Html.ActionLink("Fakelogin", "Fakelogin")</li>
	<li>@Html.ActionLink("UI Redress", "UIRedress")</li>
	<li>@Html.ActionLink("OTP", "OTP")</li>
	<li>@Html.ActionLink("TOTP", "TOTP")</li>
	<li>@Html.ActionLink("Caesar Cipher", "CaesarCipher")</li>
	<li>@Html.ActionLink("Vigenere Cipher", "VigenereCipher")</li>

</ul>

